.chat-main
  .chat-main__header
    .chat-main__header__left-box
      %h2.chat-main__header__left-box__current-group
        test
      %ul.chat-main__header__left-box__member
        Member:
        %li.chat-main__header__left-box__member__list
          sample
    .chat-main__header__edit-group
      = link_to "#" do
        Edit

  .chat-main__message
    .chat-main__message__list
      .chat-main__message__list__upper-info
        %p.chat-main__message__list__upper-info__talker
          test
        %p.chat-main__message__list__upper-info__date
          2020/01/25(Sat) 18:43:31
      %p.chat-main__message__list__text
        おはよう！
    .chat-main__message__list
      .chat-main__message__list__upper-info
        %p.chat-main__message__list__upper-info__talker
          test
        %p.chat-main__message__list__upper-info__date
          2020/01/25(Sat) 18:43:31
      %p.chat-main__message__list__text
        おはよう！

  .chat-main__message-form