* {
  box-sizing: border-box;
}
.wrapper{ // このwrapperの意義
  display: flex;
  height: 100vh;
}

.side-bar{
    width: 300px;
    height: 100%;
    background-color: #2f3e51;
    &__header {
      background-color: #253141;
      height: 100px;
      display: flex; // 直下の子要素を横並びにする
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;

      &__box{
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        font-weight: bold; //太線
        
        &__user-name{
          color: #ffffff;
          line-height: 20px; //上下中央

        }
        &__menu{
          width: 60px;
          display: flex;
          justify-content: flex-end;
          li{
            margin-left: 5px;
          }
          a{
            color: #ffffff;
          }
        }
      }
    }
    &__group{
      height: calc(100vh - 100px);
      &__box{
        font-weight: bold;
        h1{
          font-size: 15px;
          padding: 20px 20px 5px 20px;
        }
        a{
          color: #ffffff;
          text-decoration: none;
        }
        p{
          color: #ffffff;
          font-size: 11px;
          padding: 0px 20px 40px 20px;
        }
      }
    }
  }

  .chat-main {
      width: calc(100vw - 300px);
      background-color: #fafafa;
      &__header{
        background-color: #ffffff;
        height: 100px;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        
        &__left-box{
          margin-top: 35px;
          font-weight: normal;
          &__current-group{
            color: #333333;
            font-size: 20px;
            margin-bottom: 15px;
          }
          &__member{
            display: flex;
            font-size: 12px;
            color: #999999;
            ul{
              list-style: none;
            }
            &__list{
              li{
              }
            }
          }
        }
        &__edit-group{
          padding: 0 20px;
          height: 40px;
          line-height: 40px;
          margin-top: 28px;
          border: 1px solid #38aef0;
          a{
            color: #38aef0;
            text-decoration: none;
          }
        }
      }

      &__message{
        height: calc(100vh - 190px);
        padding: 35px 40px;
        &__list{
          padding-bottom: 46px;
          &__upper-info{
            display: flex;
            margin-bottom: 12px;
            &__talker{
              font-size: 16px;
              font-weight: bold;
              p{
                color: #333333;
              }
            }
            &__date{
              margin-left: 10px;
              font-size: 12px;
              color: #999999;
            }
          }
          &__text{
            color: #434A54;
            font-size: 14px;
          }
        }
      }

      &__message-form{
        background-color: #d2d2d2;
        height: 90px;
        padding: 20px 40px;
        // &__new-message{
          form{
            display: flex;
            .input-box{
              display: flex;
              position: relative;
              width: 100%;
              &__text{
                height: 50px;
                width: 100%;
                padding: 0 40px 0 10px;
              }
              &__image{
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.3rem;
                &__file{
                  display: none;
                }
              }
            }
            .submit-btn{
              background-color: #38aef0;
              color: white;
              cursor: pointer;
              margin-left: 15px;
              padding: 0 30px;
            }
          }
        // }
      }
      }